<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0" />
    <title>Simple Checkout</title>
  </head>
  <body>
    <h1>Simple Checkout</h1>
    <div id="paypal-button-container"></div>
    <p id="result-message"></p>
    <!-- Replace "YOUR_CLIENT_ID" with your actual client ID from your PayPal Developer account -->
    <script src="https://www.paypal.com/sdk/js?client-id=Afo-N4I1tAovg0YGH7fP6JHYsyo1akDwD0GRjY9AZOlJ_KQuLiFzvcQygNHgZvDvjpSrM_sktsiTea5u&currency=USD&disable-funding=credit"></script>
    <script>
      paypal
        .Buttons({
          createOrder: function (data, actions) {
            // Set up the transaction
            return actions.order.create({
              purchase_units: [
                {
                  amount: {
                    value: "0.01", // Can be dynamically set based on the user's cart
                  },
                },
              ],
            });
          },
          onApprove: function (data, actions) {
            // Capture the funds from the transaction
            return actions.order.capture().then(function (details) {
              // Show a success message to your buyer
              alert(
                "Transaction completed by " + details.payer.name.given_name
              );
            });
          },
        })
        .render("#paypal-button-container");
    </script>
    <script src="app.js"></script>
  </body>
</html>
